################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/config/applicationhost.config
*.map
/AngularClient/bin
/AngularClient/App/MenusController.js
/AngularClient/App/app.js
/AngularClient/node_modules
/AngularClient/obj/Debug
*.user
/NodeExpress/bin
/NodeExpress/Database/MongoDb.js
/NodeExpress/Database/MongoDatabase.js
/NodeExpress/Database/MenuManager.js
/NodeExpress/Database/ManagerFactory.js
/NodeExpress/Database/Manager.js
/NodeExpress/Logic/LogicFactory.js
/NodeExpress/Logic/LocationLogic.js
/NodeExpress/Model/Menu.js
/NodeExpress/Model/Category.js
/NodeExpress/node_modules
/NodeExpress/obj/Debug
/NodeExpress/routes/index.js
*.dat
/NodeExpress/Configuration.js
/NodeExpress/config.js
/NodeExpress/app.js
